/**
COLORS
 */
$primary: #6076de;
$secondary: #5a5c77;
$table-hover-bg: #fcfcfd;
$border-color: #f3f4fb;

/**
IMPORTS
 */
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid";

/**
STYLES
 */
body {
	background-color: #f3f4fb;

	.table {
		thead {
			th {
				color: white;
				background-color: #c0c5da;
			}
		}
	}

	.rounded-ts {
		border-top-left-radius: .5rem;
	}

	.rounded-te {
		border-top-right-radius: .5rem;
	}

	.rounded-bs {
		border-bottom-left-radius: .5rem;
	}

	.rounded-be {
		border-bottom-right-radius: .5rem;
	}

	.formbox {
		padding: 2rem 1rem;
		background-color: white;
	}
}
