<div id="types">

	<h4 class="text-muted mb-4">Types</h4>

	<div class="row">

		<div class="col">

			<table class="table table-hover" *ngIf="items$ | async as items">
				<thead>
				<tr>
					<th class="text-center rounded-ts">#</th>
					<th>Name</th>
					<th>Tax</th>
					<th class="rounded-te">Created Date</th>
				</tr>
				</thead>
				<tbody>
				<tr *ngFor="let item of items let i = index;">
					<td class="text-center">{{ (i + 1) }}</td>
					<td>{{ item.name }}</td>
					<td>{{ item.tax.percentage }}</td>
					<td>{{ item.created_date | date: 'short' }}</td>
				</tr>
				</tbody>
			</table>

		</div>

	</div>

	<div class="row">

		<div class="col">

			<h4 class="text-muted mb-4">Add</h4>

			<form [formGroup]="form" (ngSubmit)="submit()" class="formbox rounded-2">

				<fieldset class="row">
					<div class="col-md-8 mb-3">
						<label for="name" class="form-label">Name</label>
						<input type="name" class="form-control" id="name" placeholder="Name" formControlName="name">
					</div>
					<div class="col-md-4 mb-3">
						<label for="tax_id" class="form-label">Tax</label>
						<select class="form-select" aria-label="Tax" id="tax_id" formControlName="tax_id">
							<option selected disabled value="">Select</option>
							<option *ngFor="let tax of taxes$ | async" [value]="tax.id">
								{{ tax.percentage }}
							</option>
						</select>
					</div>

					<div class="col-mb-12">
						<button type="submit" class="btn btn-primary text-white mb-3">Add</button>
					</div>
				</fieldset>

			</form>

		</div>

	</div>

</div>
