<div id="header" class="mb-4">

	<div class="container">

		<header
			class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3">
			<a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
				<img src="/assets/_brand.png" alt="SE Products">
			</a>

			<ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 fw-bold">
				<li><a href="javascript:void(0)" routerLink="/" routerLinkActive #mH="routerLinkActive"
				       [routerLinkActiveOptions]="{exact: true}"
				       class="nav-link px-4" [class.link-secondary]="!mH.isActive">
					Home
				</a></li>
				<li><a href="javascript:void(0)" routerLink="/products" routerLinkActive #mP="routerLinkActive"
				       class="nav-link px-4" [class.link-secondary]="!mP.isActive">
					Products
				</a></li>
				<li><a href="javascript:void(0)" routerLink="/types" routerLinkActive #mT="routerLinkActive"
				       class="nav-link px-4" [class.link-secondary]="!mT.isActive">
					Types
				</a></li>
				<li><a href="javascript:void(0)" routerLink="/taxes" routerLinkActive #mTX="routerLinkActive"
				       class="nav-link px-4" [class.link-secondary]="!mTX.isActive">
					Taxes
				</a></li>
			</ul>

			<div class="col-md-3 text-end">
				<button type="button" class="btn btn-link me-4 rounded-pill">
					<i class="fas fa-search fa-lg"></i>
				</button>
				<button type="button" class="btn btn-link me-4 rounded-pill position-relative" routerLink="/cart"
				        routerLinkActive #mC="routerLinkActive">
					<i class="fas fa-shopping-cart fa-lg"></i>
					<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
						2
						<span class="visually-hidden">unread messages</span>
					</span>
				</button>
				<!--
				<button type="button" class="btn btn-outline-primary me-2">Login</button>
				<button type="button" class="btn btn-primary text-white">Sign-up</button>
				-->
			</div>
		</header>

	</div>

</div>
